*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.container{
    width: 95%;
    margin: 2rem auto;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem;
    
}
.gallery-img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;

    transition: transform 0.3s ease, z-index 1s;
    cursor: pointer;
}

.gallery_img1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}
 .gallery_img2{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery_img3{
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery_img4{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 9;
}

.gallery_img5{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 6;
}

.gallery_img6{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gallery-img:hover {
    object-fit:cover;     /* shows the full image */
    transform: scale(1.06);   /* “pop out” effect */
    z-index: 10;             /* bring to front */
}


