

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 80%;
    display: flex;
}

a{
    text-decoration: none;

}

header {
    display: flex;
    justify-content: flex-end; /* Moves items to the right */
    align-items: center; /* Centers them vertically */
    padding: 40px; /* Adjust as needed */
    background-color: #0F3039;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #BEEBDA;
    color: #BEEBDA;
}

.nav-logo{
    max-width: 150px;
    padding: 10px 10px;
    display: flex;
    position: absolute;
    left: 0px;
    top: 1px;
}

.name{
    position:relative;
    color:#BEEBDA;
    right: 1050px;
    
}
button, .about-button, .contact-button {
    font-size: 30px;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-left: 10px; /* Adds spacing between buttons */
}