@import "tailwindcss";

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 80%;
    display: flex;
}

a{
    text-decoration: none;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #BEEBDA;
    color: #BEEBDA;
}

.nav-logo{
    max-width: 150px;
    padding: 10px 10px;
    display: flex;
    position: absolute;
    left: 0px;
    top: 10px;
}

.name{
    padding: 70px;
    color:#BEEBDA;
    background-color: #0F3039;
}
.h1,p{
    font-size: large;
    font-weight: 100;
}




