*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;

}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    background-color: #0F3039;
    color: #BEEBDA;
}

a:visited{
    text-decoration: none;
    color: #BEEBDA;
}

.name{
    padding-bottom: 10px;
}

.nav-logo a img{
    width: 80px;
    padding: 10px;
}

.artist{
    display: flex;
    position: sticky;
    right: 220px;
}

.artist-pages ul,li a{
    list-style-type: none;
    display: flex;
    text-decoration: none;
    padding: 10px;
    justify-content: flex-end;
}

.artist-pages ul{
    display: flex;
    position: relative;
    left: 230px;
}

.container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px  50px 10px 50px;
    background-color: #BEEBDA;
}

.container .box .gallery-image{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.container .box .gallery-image img{
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    border-radius: 5px;
    padding: 5px;
}

@media only screen and (max-width: 769px){
    .container .box{
    flex-direction: column;
}
}

.container .box .gallery-image{
    width: 100%;
}

@media only screen and (max-width: 903px){
    .artist{
    display: flex;
    position: sticky;
    right: 220px;
}
}

footer{
    background-color: #0F3039;
}





